*.md
*.sh
*.yml
*.svg
*.gif
.DS_Store
.gitignore
.npmignore
.prettierignore
.babelrc
.editorconfig
.stylelintrc.json
tsconfig.json
tslint.json
CNAME
LICENSE
dist/
coverage/
test/resources/
yarn.lock
yarn-error.log
npm-debug.log
lerna-debug.log
pnpm-lock.yaml
