@font-face {
  font-family: "Cached A";
  src: url("data:font/woff2;base64,Q0FDSEVEQQ==") format("woff2");
}
@font-face {
  font-family: "Cached B";
  src: url("data:font/woff2;base64,Q0FDSEVEQg==") format("woff2");
}
