@font-face {
  font-family: 'Font1';
  src: url('data:font/woff2;base64,UFJFRldPRkYy')
      format('woff2'),
    url('data:font/woff;base64,UFJFRldPRkY=')
      format('woff'),
    local(Arial);
  font-weight: normal;
  font-style: normal;
}
