@font-face {
  font-family: 'Font 0';
  src: url('data:font/woff2;base64,Rk9OVDA=') format('woff2');
}
@font-face {
  font-family: 'Font 1';
  src: url('data:font/woff2;base64,Rk9OVDE=') format('woff2');
}
@font-face {
  font-family: 'Font 2';
  src: url('data:font/woff2;base64,Rk9OVDI=') format('woff2');
}
